<h1>What do I have to do?</h1>

<%= link_to 'Create a new task', tasks_new_path %>

<% @tasks.each do |task| %>
  <p><%= link_to "#{task.title}", task_path(task) %> * <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
